@import "tailwindcss";

:root {
  --background: #2b2b2b;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-yellow: #c8a75b;
  --color-yellow-hover: #e0c076;
  --color-gold: #ab7b2e;
  --color-shine: #c99747;
  --color-gold-shad: #734f15;
}

body {
  @apply bg-neutral-200 text-gray-900;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #696969 #1f1f1f;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f1f1f;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #363636;
  border-radius: 9999px;
  border: 2px solid #1f1f1f;
}

@media (max-width: 768px) {
  .custom-scrollbar {
    scrollbar-width: none;
  }
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
